---
/**
 * NewsTicker.astro
 * @deprecated This component is replaced by hud/FloatingNotes.astro on the TV page.
 * The new floating notes use ethereal cloud-like messages that drift upward.
 * This file is kept for rollback purposes - will be removed after verification.
 */
---
<div class="news-ticker" id="news-ticker">
    <div class="news-ticker__track">
        <!-- Headlines populated by NewsTickerManager.init() -->
    </div>
</div>
