---
interface Props {
    id: string;
    active?: boolean;
    class?: string;
}

const { id, active = false, class: className = "" } = Astro.props;
---
<div id={id} class:list={["view", { active }, className]}>
    <slot />
</div>
