---
import ViewContainer from '../shared/ViewContainer.astro';
import GameStateControls from './GameStateControls.astro';
import LobbyControls from './LobbyControls.astro';
import MusicControls from './MusicControls.astro';
import BuzzerControls from './BuzzerControls.astro';
import TriviaControls from './TriviaControls.astro';
import TimelineControls from './TimelineControls.astro';
import PictureGuessControls from './PictureGuessControls.astro';
import TimerControls from './TimerControls.astro';
import PixelPerfectControls from './PixelPerfectControls.astro';
import PriceGuessControls from './PriceGuessControls.astro';
import SurvivalControls from './SurvivalControls.astro';
import RoundTimerControls from './RoundTimerControls.astro';
---
<ViewContainer id="dashboard-view">
    <div class="admin-container">

        <GameStateControls />

        <div class="admin-grid">
            <LobbyControls />
            <RoundTimerControls />
            <MusicControls />
        </div>

        <hr class="admin-divider--section">

        <TriviaControls />
        <BuzzerControls />
        <TimelineControls />
        <PictureGuessControls />
        <TimerControls />
        <PriceGuessControls />
        <PixelPerfectControls />
        <SurvivalControls />

    </div>
</ViewContainer>
