---
---
<div class="status-bar">
    <div>
        <span
            id="connection-indicator"
            class="status-indicator status-indicator--disconnected"></span>
        <span id="connection-status">SEARCHING...</span>
    </div>
    <div>
        <span id="team-name-display">---</span>
        <span
            id="player-name-display"
            style="color: var(--terminal-green-dim); margin-left: 0.5rem;"
        ></span>
    </div>
</div>
